.nav_bar{
    height: 50px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    box-shadow: 0 0 10px black;
    background-color: azure;
    position: sticky;
    top: 0;
}


.link_bar{
    height: 50px;
    width: 500px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px black;
}
