.fullPageSale{
    height: 1500px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cardContainer{
    
    width: 1000px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    box-shadow: 0 0 8px black;


    justify-content: space-evenly;

}
